:root {

	--nav-size: 64px;
	--c-background: #001b40;
	--c-surface: #fff;
	--c-light: #00EAFF;
	--c-txt: #FFF;
	--c-surface-txt: #000;
}

html {
	color: var(--c-txt);
	background: var(--c-background);
	font-family: "Exo 2", sans-serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
}

body {
	margin: 0px;
	padding: 8px;
	box-sizing: border-box;
	padding-top: var(--nav-size);
	margin-top: 24px;
}

.surface {
	color: var(--c-surface-txt);
	background: var(--c-surface);
}

.frame-bg {
	padding: 8px;
	gap: 16px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.frame-bg > section {
	display: flex;
	border-radius: 16px;
	background: var(--c-surface);
	width: 50%;
	color: var(--c-surface-txt);
	align-content: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	overflow: hidden;
}

.frame-bg > section > button {
	position: relative;
	bottom: 0px;
}

.navigation-bar {
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
	height: var(--nav-size);
	background-color: var(--c-background);
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 16px;
	padding: 8px;
	border-radius: 16px;
	justify-content: space-between;
	box-shadow: 0px 0px 4px var(--c-light);
}

.navigation-bar > h1 {
	background: var(--c-surface);
	color: var(--c-surface-txt);
	padding: 8px;
	border-radius: 16px;
}

.liste_cours {
	display: flex;
	flex-direction: column;
}

.logo-header > img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 2px var(--c-surface) solid;
}

.media-list {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.media-list > a {
	background: var(--c-surface);
	padding: 8px;
	border-radius: 16px;
}

header img {
	width: 32px;
	height: 32px;
}

