.nav-bar {
    position: fixed;
    top: var(--sp-md);
    left: var(--sp-md);
    right: var(--sp-md);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: var(--size-nav);
    z-index: 10;
}

.surface {
    width: fit-content;
    border-radius: var(--br-sol);
    background-color: var(--c-surface);
    padding: var(--sp-md);
    border: var(--bd-surface);
    box-sizing: border-box;
    box-shadow: var(--shw-surface);
}

.space {
    height: var(--sp-md);
}

.space-sm {
    height: var(--sp-sm);
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.carousel {
    width: 100%;
    max-height: inherit;
    position: relative;
    display: flex;
    flex-direction: row;
}

.carousel > div {
    flex: 0 0 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}